/*
 * fancy background
 */

body {
  background-image: radial-gradient(circle farthest-corner at 52.1% -29.6%, $primaryColor 0%, $secondaryColor 100%);
}

/*
 * utilize extra whitespace on large screens
 */
.page-content {
  @include media-query($breakpointHuge) {
    margin: 3em 0;
    display: flex;
    align-items: center;
    // min-height: 85vh;
  }
}

/*
 * header borders
 */
.site-header {
  border-top: 0;
  border-bottom: 1px solid fade-out(#aa08db, 0.6);
}

/*
 * light text color on top sections
 * TODO: fix ugly hack!
 */

.site-header a,
.page-content>.wrapper {
  color: #f9f9f9 !important;
}

.site-footer {
  background: white;
  box-shadow: 0 0 90px $shadowColor
}

/*
 * set whitespace for posts list
 */
.post-list-heading {
  margin-top: 1.5em;
  padding-top: 1em;
}

.post-list li {
  margin: 0;
}

/*
 * set (max) width of main container element
 * TODO: avoid duplication of this definition
 */
.wrapper {
  width: 100%;
  max-width: 800px;
}
